.chanels-container {
    background-color: #09bd00; /* ! */
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px; /* ! */
    position: fixed; /* Меняем на fixed */
    bottom: 0;       /* Прижимаем к низу */
    left: 0;         /* Растягиваем на всю ширину */
    right: 0;        /* Растягиваем на всю ширину */
    width: 100%;     /* Полная ширина */
    z-index: 1000;   /* Поверх других элементов */
}

.chanel-list-changer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chanel-list-block {
    overflow-x: auto;
    max-width: 70vw;
    padding-bottom: 3px;
}

.chanel-list-block::-webkit-scrollbar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 5px;
}

.chanel-list-block::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: black;
}

.chanel-list-block::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: grey;
}

.chanel-list {
    max-width: 70%;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}