.rooms-list-block {
    background-color: #530a8f; /* ! */
    margin-right: 3px;
    flex: 1;
    overflow-y: auto;
}

.rooms-list-block::-webkit-scrollbar {
    width: 5px;
}

.rooms-list-block::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: black;
}

.rooms-list-block::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: grey;
}

.rooms-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}