.main-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-container {
    height: 100vh;
    max-height: 91.2vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #e3d8ec;
}

.room-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: auto;
    flex: 0 0 auto;
}

.settings {
    background-color: #009dbd;
    min-height: 40px;
    flex: 0 0 auto; /* Фиксированная высота */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 4px;
    padding: 8px;
}

.room-selector {
    flex: 1;
    background-color: #a268d1;
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 0;
    overflow: hidden;
}