.messages-list-block {
    height: 100%;
    overflow-y: auto;
}

.messages-list-block::-webkit-scrollbar {
    width: 5px;
}

.messages-list-block::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: black;
}

.messages-list-block::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: grey;
}

.messages-list {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}