.messenger-field {
    display: flex;
    flex-direction: column;
    flex: 1; /* Занимает всё оставшееся пространство по ширине */ 
    justify-content: space-between;
    background-color: #ff005d;
    padding: 20px;
}