.rooms-online-list-block {
    background-color: #530a8f; /* ! */
    max-width: 60px;
    height: 100%;
    flex: 1;
    overflow-y: auto;
}

.rooms-online-list-block::-webkit-scrollbar {
    margin-left: 20px;
    width: 5px;
}

.rooms-online-list-block::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: black;
}

.rooms-online-list-block::-webkit-scrollbar-track {
    border-radius: 15px;
    background-color: grey;
}

.rooms-online-list {
    width: 50px;
    margin-right: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.online-user {
    height: 45px;
    width: 45px;
    border-radius: 18px;
}